---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/images/etc/small/paw-prints.ico" type="image/x-icon">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Old-School Hyena</title>
	   <!-- StyleSheet -->
	   <link href="/css/welcome_style.css" rel="stylesheet" type="text/css" media="all">
	 </head>
	 
	 <!-- BODY -->
	 
	 <body class="welcome">
	 
		   <article class="changelog">
		   <embed src="/changelog/1712020.html" type="text/html">
		   <br>
		   <p>For past updates, visit the <a href="/changelog">changelog.</a>
		   </article>
		   
		   <article class="welcome-button">
   
			   <a href="https://hotlinewebring.club/fluffyhyena/previous" target="_blank"><img src="/images/etc/codes/webring2.gif" alt="Previous site"></a><a href="https://hotlinewebring.club/" target="_blank"><img src="/images/etc/codes/webring.gif" alt="Hotline Webring icon"></a><a href="https://hotlinewebring.club/fluffyhyena/next" target="_blank"><img src="/images/etc/codes/webring3.gif" alt="Next site"></a> 
   
		   </article>
   
		   <article class="welcome-box"> 
			   <a class="welcome-link" href="/home.html"><h1>Enter</h1></a>
			   <div class="welcome-text">
				   <p>mobile-friendly | any resolution | any browser</p>
			   </div>
			   <span class="welcome-rating">
			   <a href="http://www.mabsland.com" target="_blank"> 
				   <img  src="/images/etc/codes/Censor_PG.gif" alt="Rating: PG">
			   </a>
		   </span>
			   
		   </article>
   
		   <div class="welcome-image">
			   <img src="/images/mine/pixels/me.gif" alt="Hyena">
		   </div>
		   
		   <footer class="credits">Version 1.12 | <a href="/credits.html">Credits</a></footer>
   
	 </body>
   </html>